* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f8f8f8;
}

.header {
    background: linear-gradient(to right, #0073b1, #00a1e4);
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    height: 80px;
    margin-right: 20px;
}

.title h1 {
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.login-box {
    width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-box {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.input-box img {
    margin-bottom: 10px;
    width: 150px;
    height: 50px;
}

.actions {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

.actions a {
    color: #0073b1;
    text-decoration: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #0073b1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005f91;
}
